*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
@media (max-width:375px){
.grid-container{
    min-height:100vh; 
}
.promo{
    width:100%;
    margin-top: 80px;
}
.container li{
    margin-left:-35px;
padding-right:-4px;
padding-bottom: -10px;
}


}




.main-nav{
height: 5em;
padding-top:0.9rem;
padding-bottom:3rem;
background-color:honeydew;
margin-bottom: 18px;
}


.promo{

    height:20em;
    background: url("./images/BingWallpaper\ \(8\).jpg") center;
    overflow:hidden;
    margin-top: -15px;
}


.flex{
    display:flex;
    justify-content:space-around;
    flex:0 1 auto;
    flex-wrap:wrap
}
.flex ul{
    display: flex;
}
.flex li{
    justify-content: space-between;
    list-style: none;
    padding-left:4rem;
    padding-top:10px
}
.main-nav li:hover{
    color:whitesmoke
}
.showcase-text h1{
    font-size:0.2rem
}

.promo input[type='email']{
    padding:10px 60px 10px 10px;
    font-size:14px;
    border:none;
    border-radius: 6px;
    padding-left:6px;
}
.btn{
    border-radius: 6px;
    padding:9px 20px;
    background-color: honeydew;
    border:none;
    margin-left:px;
    color:rgb(48, 46, 46);
    font-size:16px;
    cursor:pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.grid .grid-item{
    position:relative;
    top:120px;
    left:20px
}
.promo h1{
    color:honeydew;
    font-size: 2em;
}
.promo p{
    margin-bottom: 30px;
    color:honeydew;
    font-size: 1.5rem;
}
 .blog-post{
padding:60px 45px;
 }
 .section{
max-width:1200px;
margin:0 auto;
grid-gap:45px;
display:grid;
grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
 }

 .product{
    padding: 40px 20px;
 }

 .grid-layout{
    max-width:1200px;
    margin:30px auto;
    grid-gap:45px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, .5fr));
     }

     img{
        height:150px;
        width:250px
    }
    .container-layout{
        background-color:honeydew;
        padding:10px 20px;
        height:200px
    }
    .footer{

        padding: 80px 5px;
        display:flex;
        justify-content: space-between;
        flex:0 1 auto
    }
    .footer ul{
        display:flex;
        justify-content: space-evenly;
    }
    .footer ul li{
        padding-left:10px;
        list-style:none;

    }
    